<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring AI RAG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css">
    <!--    <link th:href="@{/main.css}" rel="stylesheet"/>-->
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">spring-ai-rag-redis</a>
    </div>
</nav>

<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Spring AI RAG Postgres</h1>
        <p class="lead">This example is a quick exercise to illustrate how we can use Spring AI with RAG.</p>
        <form action="#" th:action="@{/load}" enctype="multipart/form-data" method="post"
              class="row g-3 mb-3" onsubmit="showSpinner('fileSubmitBtn','fileSpinner')">
            <div class="col-auto">
                <label for="formFile" class="visually-hidden">Please select file to upload</label>
                <input class="form-control" type="file" id="formFile" name="file" required>
            </div>
            <div class="col-auto">
                <button id="fileSubmitBtn" class="btn btn-sm btn-outline-success" type="submit">
                    <span id="fileSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                          style="display: none;"></span>
                    Upload File
                </button>
            </div>
        </form>

        <div class="alert alert-success m-2" role="alert" th:if="${result}">
            <div th:text="${result}"/>
        </div>

        <form action="#" th:action="@{/rag/chat}" method="get" class="form-inline mt-2 mt-md-0"
              onsubmit="showSpinner('askSubmitBtn','askSpinner')">
            <div class="d-flex flex-row align-items-end">
                <div class="col-8">
                    <label for="question" class="form-label">Please input your query</label>
                    <input class="form-control form-control-lg " type="text" id="question" th:name="question" required>
                </div>
                <div class="col">
                    <button id="askSubmitBtn" class="btn btn-lg btn-outline-success" type="submit">
                        <span id="askSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              style="display: none;"></span>
                        Ask
                    </button>
                </div>
            </div>
        </form>

        <div class="alert alert-info" role="alert" th:if="${answer}">
            <div th:text="${answer}"/>
        </div>
    </div>
</main>

<script>
    function showSpinner(submitButtonId, spinnerId) {
        console.log(111, 'came here');
        document.getElementById(submitButtonId).disabled = true;
        document.getElementById(spinnerId).style.display = 'inline-block';
    }
</script>

<script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>